.upload-box {
  border: 2px dashed #cbd5f5;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.upload-box:hover {
  background: #f8fafc;
  border-color: #2563eb;
}

.upload-box span {
  color: #2563eb;
  font-weight: 500;
}

.upload-box p {
  margin-top: 8px;
  font-size: 13px;
  color: #555;
}
