<ul>
  @for (inv of invoice(); track inv.id) {
    <li>
      <div class="card">
        <p><strong>Client:</strong>{{ inv.client.name }}</p>
        <p><strong>Company:</strong>{{ getCompanyName(inv.client.id ) }}</p>
        <p><strong>Data:</strong> {{ (inv.date) }}</p>
        <p><strong>Description:</strong> {{ inv.description }}</p>
        <p><strong>Quantity:</strong> {{ inv.invoiceQuantity }}</p>
        <p><strong>Price:</strong> {{ inv.invoicePrice }}</p>
        <p><strong>Total:</strong> {{ inv.invoiceTotal }}</p>
      </div>
    </li>
  }
</ul>
