<div class="containerButton">
  <button class="download-btn" (click)="download()">
    📥 Download Invoices
  </button>
</div>

<ul>
  @for (inv of invoice(); track inv.id) {
    <li>
      <div class="card">

        <div class="title">
          {{ inv.client.name }}
        </div>

        <p>
          <strong>Company</strong>
          <span>{{ getCompanyName(inv.client.id) }}</span>
        </p>

        <p>
          <strong>Date</strong>
          <span>{{ inv.date }}</span>
        </p>

        <p>
          <strong>Description</strong>
          <span>{{ inv.description }}</span>
        </p>

        <p>
          <strong>Quantity</strong>
          <span>{{ inv.invoiceQuantity }}</span>
        </p>

        <p>
          <strong>Price</strong>
          <span>${{ inv.invoicePrice }}</span>
        </p>

        <p>
          <strong>Total</strong>
          <span>${{ inv.invoiceTotal }}</span>
        </p>

      </div>
    </li>
  }
</ul>
